.DS_Store
node_modules/
unpackage/
uniCloud-aliyun/

# local env files
.env.local
.env.*.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.project
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.hbuilderx/
/dist/

# 系统部署配置文件
deployment-uat.yaml
deployment-test.yaml
deployment-mast.yaml
